{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }


</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item active">
                <a class="nav-item nav-link" href="{% url 'CVtq:index' %}">Home</a>
            </li>

            <li class="nav-item active">
                <a class="nav-item nav-link" href="">ExternalLink</a>
            </li>

            {% if request.user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'CVtq:profiles' %}">Profils</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'CVtq:firms' %}">Firms</a>
            </li>

            {% elif request.user.is_firm %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'CVtq:profiles' %}">Profils</a>
            </li>      

            {% endif %}
        </ul>
    </div>

    <div>
        {% if request.user.is_authenticated %}
        <span class="hello-msg">Bonjour, {{user}}</span>
        {% if request.user.is_profile %}
        <a class="btn btn-primary" role="button" href="{% url 'CVtq:account' user.id %}">Mon profil</a>
        {% endif %}
        <a class="btn btn-danger" role="button" href="{% url 'CVtq:logout' %}">Déconnexion</a>

        {% else %}
        <a class="btn btn-success" role="button" href="{% url 'CVtq:login' %}">Connexion</a>
        <a class="btn btn-warning" role="button" href="{% url 'CVtq:register' %}">S'inscrire</a>
        

        {% endif %}
    </div>
  
</nav>